html {
	margin: 0px;
}
body {
	background-color: lightblue;
	margin: 0px;
}
h1	{
	font-family: 'Indie Flower', cursive;
	color: lightsalmon;
	font-size: 70px;
	text-align: center;
	cursor: pointer;
	transition: all 1.2s;
}
h1:hover {
	color: lightpink;
	font-size: 150%;
}
a {
	text-decoration: none;
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
img {
	width: 300px;
	height: 400px;
	margin: 10px;
	transition: all 1s;
}
img:hover {
	transform: scale(1.1);
}
